#myInput {
    background-image: url('../../customer/list/searchicon.png');
    background-position: 10px 7px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 14px;
    padding: 12px 20px 12px 40px;
    /* border: 1px solid #ddd; */
    margin-bottom: 12px;
  }
  
  #myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 13px;
  }
  
  #myTable th, #myTable td {
    text-align: center;
    padding: 12px;
  }
  
  #myTable tr {
    border-bottom: 1px solid #ddd;
  }
  
  #myTable tr.header, #myTable tr:hover {
    background-color: #f1f1f1;
  }
  
  .button {
    position: relative;
    background-color: #f4511e;
    border: none;
    font-size: 14px;
    color: #FFFFFF;
    padding: 10px;
    width: 150px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
  .button:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
  
  /* .btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
  } */
  
  /* Green */
  .success {
    border-color: #4CAF50;
    color: green;
  }
  
  .success:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Blue */
  .info {
    border-color: #2196F3;
    color: dodgerblue
  }
  
  .info:hover {
    background: #2196F3;
    color: white;
  }
  
  /* Orange */
  .warning {
    border-color: #ff9800;
    color: orange;
  }
  
  .warning:hover {
    background: #ff9800;
    color: white;
  }
  
  /* Red */
  .danger {
    border-color: #f44336;
    color: red
  }
  
  .danger:hover {
    background: #f44336;
    color: white;
  }
  
  /* Gray */
  .default {
    border-color: #e7e7e7;
    color: black;
  }
  
  .default:hover {
    background: rgb(255, 255, 255);
  }
  .table-striped>tbody>tr:nth-child(odd)>td {
    /* background: linear-gradient(to bottom, #ffffff 0%, #66ccff 100%); */
    background: linear-gradient(to bottom, #ffffff 0%, #ffff99 100%);
  } 
  
  .gradient {
    /* background: linear-gradient(to right, #66ffff 0%, #0000cc 100%) */
  background: linear-gradient(to bottom right, #ffffff 0%, #999966 100%);
}

  a {
    font-family: "Times New Roman", Times, serif;
  }